<div class="form_container">
	<%= link_to pages_dashboard_path() do %>
		<div class="button is-danger is-outlined is-pulled-right">
			<span>Cancel</span>
		</div>
	<% end %>
	<br>
	<br>
	<%= render 'form', budget: @budget %>
</div>