<h1>New Budget Landing Page</h1>

<%= form_for @budget do |form| %>
  <div class="field">
  	<%= form.label :starting_cash %>
  	<span>$</span>
  	<%= form.text_field :starting_cash %>

  </div>
  <%= form.submit %>
<% end %>