<div class="hero is-fullheight">
	<div class="hero-body">
		<div class="container">
			<h1 class="title has-text-centered">Your Personal Budget</h1>
			<div class="columns">
				<div class="column is-two-thirds has-text-centered">
					<h1 class="title is-marginless">You have</h1>
					<p class="jumbo">$</p>
					<span class="jumbo" id="total_cash">0</span>
					<div class="columns has-text-centered">
						<div class="column">
							<%= button_to "I Got Paid!", root_url, class: 'button' %>
						</div>
						<div class="column">
							<%= button_to "I Bought Something", root_url, class: 'button' %>
						</div>
					</div>
				</div>
				<div class="column">
					<!-- This is where each spending category goes -->
					<ul>
						<li>placeholder for spending categories</li>
						<li>placeholder</li>
						<li>placeholder</li>
						<li>placeholder</li>
						<li>placeholder</li>
						<li>placeholder</li>
						<li>placeholder</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	//countUp.js, makes the total_cash span increment up in a nice way
	var numAnim = new CountUp("total_cash", 0, 100);
	if (!numAnim.error) {
	    numAnim.start();
	}
	else {
	    console.error(numAnim.error);
	}
</script>