

<section class="hero is-fullheight columns">
  <div class="hero-body hero-picture">
    <div class="column is-half big-title-container">
      <h1 class="big-title title is-1"> budget(ish)</h1>
      <p class="subtitle is-3 hero-subtitle">Because no one likes a spreadsheet.</p>
       <%= link_to(new_user_registration_path) do %>
        <div class="button is-primary">
          <span>Create an Account</span>
        </div>
        <br>
        <br>

        <div class="already-have-account">
        <%= link_to(new_user_session_path) do %>
          <span>Already have an account? Log in.</span>
        <% end %>
       <% end %>
     </div>


  </div>
  </div>
  </section>

  <div class="columns">
    <div class="column is-half is-hidden-mobile" id="blurb1">
    </div>
    <div class="column blurb">
        <h2 class="has-text-primary has-text-weight-semibold title">No Money? No Problem.</h2>
      <p>We know your money might not always be consistent. That’s why we created this app with young adults in mind - specifically, those with low, inconsistent, or irregular income. </p>
    </div>
  </div> <!--row 1 ends here-->

  <div class="columns">
    <div class="column blurb">
      <h2 class="has-text-primary has-text-weight-semibold title is-3">Unique to You.</h2>
      <p class="is-size-5">Not everybody spends and saves their money the same way. We’ll help set up a simple budget based on your preferences, but give you the flexibility make adjustments whenever you need. </p>
    </div>
    <div class="column is-half is-hidden-mobile" id="blurb2" >
    </div>
  </div> <!--row 2 ends here-->

  <div class="columns remove_margins">
    <div class="column is-half is-hidden-mobile" id="blurb3">
    </div>
    <div class="column blurb">
      <h2 class="has-text-primary has-text-weight-semibold title is-3">Anyone Can Budget. You Just Have To Start.</h2>
      <p class="is-size-5">Starting a budget for the first time can be overwhelming. We provide suggested budgets, helpful tips, and easy to understand language to walk you through each step. Because no one likes a spreadsheet.</p>
    </div>
  </div> <!--row 3 ends here-->

<div class="columns remove_margins">
  <div class="column has-text-centered call-to-action">
    <h2 class="has-text-weight-semibold is-size-3">Let Us Help You Budget.</h2>
      <p class="is-size-5">Create your free account in minutes. You should be saving money; not spending it.</p>
      <br>
      <div class="button is-secondary"> 
        <%= link_to('Create an Account', new_user_registration_path)%>
      </div>
  </div>
</div>


  <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p> &copy; 2017 budget(ish)
      </p>
    </div>
  </div>
</footer>
