<section class="hero is-large">
  <div class="hero-body hero-picture">

    <div class="container">
    </div>
  </div>

  </section>

  <div class="columns">
    <div class="column" id="blurb1">
    </div>
    <div class="column">
        <h2>No Money? No Problem.</h2>
      <p>We know your money might not always be consistent. That’s why we created this app with young adults in mind - specifically, those with low, inconsistent, or irregular income. </p>
    </div>
  </div> <!--row 1 ends here-->

  <div class="columns">
    <div class="column">
      <h2>Unique to you</h2>
      <p>Not everybody spends and saves their money the same way. We’ll help set up a simple budget based on your preferences, but give you the flexibility make adjustments whenever you need. </p>
    </div>
    <div class="column" >
    </div>
  </div> <!--row 2 ends here-->

  <div class="columns">
    <div class="column">
    </div>
    <div class="column">
      <h2>Anyone Can Budget. You Just Have To Start.</h2>
      <p>Starting a budget for the first time can be overwhelming. We provide suggested budgets, helpful tips, and easy to understand language to walk you through each step. Because no one likes a spreadsheet.</p>
    </div>
  </div> <!--row 3 ends here-->

  <div class="column has-text-centered">
    <h2 class="has-text-weight-semibold">Let Us Help You Budget.</h2>
      <p>Create your free account in minutes. You should be saving money; not spending it.</p>
  </div>

  <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p> Copyright 2017 Budgetish
      </p>
    </div>
  </div>
</footer>
