/*
 *= require jquery-ui
 */

//other stylesheets
@import 'budgets.scss';
//fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Changes the breakpoint of mobile first design
$desktop: 796px;

//change the color of primary, defined in bulma
$primary: #98D261;

$dark-primary: #66a346;

// Import bulma.scss
@import 'Bulma';

/* Text */
h1 {
	font-size: 32px;
}

h2 {
	font-size: 20px;
}
body {
	font-family: 'Nunito', sans-serif;
}

label.label {
	font-size: 12px;
}

/* Nav Bar */
.navbar {
	height: 75px;
}

.nav-link {
	color: white;
}

.navbar-menu {
	background-color: $primary;
}

.navbar.is-primary .navbar-brand > a.navbar-item:hover, .navbar.is-primary .navbar-brand > a.navbar-item.is-active, .navbar.is-primary .navbar-brand .navbar-link:hover, .navbar.is-primary .navbar-brand .navbar-link.is-active {
	background-color: $primary;
}


/*Landing Page*/

.hero-picture {
	background: url("hero.png");
	background-size: cover;
}

#blurb1 {
	background: url("coffee_phone.jpg");
	background-size: cover;
	height: 400px;
}

#blurb2 {
	background: url("happygirl.jpg");
	background-size: cover;
	height: 400px;
}

#blurb3 {
	background: url("happydude.jpg");
	background-size: cover;
	height: 400px;
}

.blurb {
	padding: 80px;
}

/* Button Changes */

.button-remove a {
	color: white;
}


/* Form */

.form_container {
	padding: 50px;
}

.nested-fields{
	margin-top: 20px;
	margin-bottom: 20px;
}

fieldset {
	border: none;
}

.form-title {
	margin-bottom: 25px;
}

.button-next {
	float: right;
}


.notification {
	margin-top: 25px;
}

.border {
	border: 1px solid red;
}


.drag-block {
	margin: 12px;
	background-color: #f2f2f2;
	border-radius: 50px;
	padding: 12px;
}

.drag-index {
	margin: 22px;
	padding: 0px;
	font-size: 24px;
}

.ghost {
	opacity: 0;
}

.jumbo {
	display: inline-block;
	font-size: 5em;
	margin: 0;
}

.popup .ui-widget-header {
	background-color: $primary;
	color: white;
	font-size: 22px;
}

/*Dashboard*/
.dashboard {
	margin-top: 50px;
}
.dash-title {
	font-size: 24px;
}

.dash-button {
	width: 75%;
	border: 2px solid $primary;
	text-transform: uppercase;
}

.spending-title {
	background-color: $dark-primary;
	font-size: 20px;
	color: white;
	padding: 12px;
}

.category {
	border: 1px solid gray;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
}



/*Pop-Up*/
dfn {
  	cursor: pointer;
  	font-style: normal;
  	position: relative;
  	z-index: 2;
}
dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
	width: 300px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  border: 1px solid #f2f2f2;
  background: rgba(255,255,255,0.8);
  color: #000;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
}
dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  transition: opacity 250ms, top 250ms;
}
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 30px;}
dfn:hover::before {top: 20px;}

