//fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Changes the breakpoint of mobile first design
$desktop: 796px;

//change the color of primary, defined in bulma
$primary: #98D261;
// Import bulma.scss
@import 'Bulma';

body {
	font-family: 'Nunito', sans-serif;
}
.nav-link {
	color: white;
}

.navbar-menu {
	background-color: $primary;
}
.notification {
	margin-top: 25px;
}

.outline {
	border: 1px solid red;
}

label.label {
	font-size: 12px;
}