/*
 *= require jquery-ui
 */

//other stylesheets
@import 'budgets.scss';
//fonts
@import url('//fonts.googleapis.com/css?family=Nunito');

// Changes the breakpoint of mobile first design
$desktop: 796px;

//change the color of primary, defined in bulma
$primary: #98D261;

$dark-primary: #66a346;

// Import bulma.scss
@import 'bulma.scss';

/* Text */
h1 {
	font-size: 32px;
}

h2 {
	font-size: 20px;
}
body {
	font-family: 'Nunito', sans-serif;
}

label.label {
	font-size: 12px;
}

p {
	font-size: 	1.25rem;
}

/* Nav Bar */
.navbar {
	height: 75px;
}

.nav-link {
	color: white;
}

.navbar-menu {
	background-color: $primary;
}

.navbar.is-primary .navbar-brand > a.navbar-item:hover, .navbar.is-primary .navbar-brand > a.navbar-item.is-active, .navbar.is-primary .navbar-brand .navbar-link:hover, .navbar.is-primary .navbar-brand .navbar-link.is-active {
	background-color: $primary;
}


/*Landing Page*/

.big-title {
	color: white;
}

.big-title-container {
	padding-left: 100px;
}
.hero-picture {
	background: url("hero-girl.jpg");
	background-size: cover;
	background-position: 60% 25%;
}



#blurb1 {
	background: url("dreds.jpg");
	background-size: cover;
	height: 400px;
	background-position: 50% 65%;

}

#blurb2 {
	background: url("happygirl.jpg");
	background-size: cover;
	height: 400px;
	background-position: 50% 25%;
}

#blurb3 {
	background: url("coffee_phone.jpg");
	background-size: cover;
	height: 400px;
	background-position: bottom

}

.blurb {
	padding: 80px;
}

.call-to-action {
	background: #99D167;
	height: 225px;
	padding-top: 40px;
	margin-bottom: 0px;
	color: white;
}

.remove-margins {
	margin: 0px;
}

.already-have-account a{
	color: white;
}

.already-have-account a:hover {
	text-decoration: underline;
	color: white;
}

.hero-subtitle {
	color: white;
}

@media screen and (max-width: 768px) {
	.big-title-container {
		padding-left: 20px;
}
	.call-to-action {
		padding: 40px;
		height: auto;
		padding-top: 30px;
}
	.blurb {
		padding: 60px;
	}

}

/* Button Changes */

.button-remove a {
	color: white;
}

.add-category {
	margin-top: 25px;
	background-color: #fafafa;
	font-weight: 700;
}

.add-to-category {
	font-family: nunito !important; 
}

.auto-budget-button {
	background-color: #67A24B;
}



/* Form */

.form_container {
	padding: 50px;
	max-width: 1100px;
}

.nested-fields{
	margin-top: 20px;
	margin-bottom: 20px;
}

fieldset {
	border: none;
}

.form-title {
	margin-bottom: 25px;
	font-weight: 700;
}

.button-next {
	float: right;
}

.text-box {
	margin-bottom: 200px;
}

.notification {
	margin-top: 25px;
	width: 100%;
	position: absolute;

	opacity: 0.85;
}

.border {
	border: 1px solid red;
}


.drag-block {
	margin: 19px;
	background-color: #fafafa;
	border-radius: 30px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.drag-index {
	margin: 22px;
	padding: 0px;
	font-size: 24px;
}

.ghost {
	opacity: 0;
}

.jumbo {
	display: inline-block;
	font-size: 5em;
	margin: 0;
}

.popup .ui-widget-header {
	background-color: $primary;
	color: white;
	font-size: 22px;
}

#rank_flex li:after{
	content: "\f0dc"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  padding: 5px;
}

@media screen and (max-width: 768px) {
	.mobile-button {
		margin-top: 50px;
	}

}

/*Dashboard*/
.dashboard {
	margin-top: 50px;
}
.dash-title {
	font-size: 24px;
}

.dash-button {
	width: 75%;
	border: 2px solid $primary;
	text-transform: uppercase;
}

.spending-title {
	background-color: $dark-primary;
	font-size: 20px;
	color: white;
	padding: 12px;
}

.category {
	border: 1px solid #e9e9e9;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
}


.transaction_list {
	background: #f6f6f6;
	display: none;
	
}

.transaction {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.ui-widget {
	font-family: nunito;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: nunito;
}

/*Pop-Up*/
dfn {
  	cursor: pointer;
  	font-style: normal;
  	position: relative;
  	z-index: 2;
}
dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
	width: 300px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  border: 1px solid #f2f2f2;
  background: rgba(255,255,255,0.8);
  color: #000;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
}
dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  transition: opacity 250ms, top 250ms;
}
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 30px;}
dfn:hover::before {top: 20px;}

	

#ui-id-1 {
	font-family: nunito;
	background: none;
}
.popup .ui-widget-header {
    background-color: white;
    color: black;
    font-size: 22px;
}
.ui-widget-header{
	border: none;
}

/*Slider*/ 

.suggested_budget_container {
	max-width: 400px;
	margin-top:30px;
}

.suggested_budget_js {
	margin-bottom: 75px;
}

.slider {
	width: 400px;
}

