<!DOCTYPE html>
<html>
  <head>
    <title>Budgetish</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- Navbar -->
  	<nav class="navbar">
  		<!-- budgetish logo -->
  		<div class="navbar-brand">
  			<a class="navbar-item" hfref="#">
  				Budget(ish)
  			</a>

  			<!-- Mobile murger menu -->
		    <div class="navbar-burger burger" data-target="navMenu">
		      <span></span>
		      <span></span>
		      <span></span>
		    </div>
  		</div>

  		<!-- Menu items -->
  		<div id="navMenu" class="navbar-menu">
  			<div class="navbar-end">
  				<div class="navbar-item">
  					Sign In
  				</div>
  			</div>
  		</div>
  	</nav>
    <%= yield %>
  </body>
</html>
